[Unit]
Description=script for running roscore on boot

[Service]
User=root
ExecStart=/usr/local/bin/roscore.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
