<div class="collapse navbar-collapse" id="navigation-example">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a data-placement="bottom" href="/warehouse" class="btn btn-white btn-simple btn-just-icon">
                Warehouse
            </a>
        </li>
        <li>
            <a data-placement="bottom" href="/fleet" class="btn btn-white btn-simple btn-just-icon">
                Fleet
            </a>
        </li>
        <li>
            <a data-placement="bottom" href="/mission" class="btn btn-white btn-simple btn-just-icon">
                Mission
            </a>
        </li>
    </ul>
</div>