<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Fleet Beacon | FMS</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <!-- Theme Color -->
    <meta name="theme-color" content="#87CEFA">
    <!-- Open Graph -->
    <meta property="og:title" content="Fleet Beacon | FMS">
    <meta property="og:description" content="Fleet Management System by rapsealk.">
    <meta property="og:image" content="/img/venezia.jpg">

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/material-kit.css') }}" rel="stylesheet" />
</head>

<body class="signup-page">
	<nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
                <a class="navbar-brand" href="/">Fleet Managemenet System</a>
        	</div>

            {% include "header.html" %}
    	</div>
    </nav>

    <div class="wrapper">
		<div class="header header-filter" style="background-image: url({{ url_for('static', path='/img/venezia.jpg') }}); background-size: cover; background-position: top center;">
			<div class="container" id="main-container">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-signup">
                            <!--
							<form class="form" action="#!">
								<div class="header header-info text-center">
									<h4>Problem pid</h4>
								</div>
								<div class="content">
                                </div>
							</form>
                            -->
                            <div id="map" style="width:100%;height:600px;"></div>
						</div>
                    
                        <!-- alert -->
                        <div id="alert-zone"></div>
                    
                    </div>
				</div>
            </div>

			<footer class="footer">
		        <div class="container">
		            <nav class="pull-left">
						<ul>
							<!--li>
								<a href="https://rapsealk.tistory.com">
								   Blog
								</a>
							</li-->
						</ul>
		            </nav>
		            <div class="copyright pull-right">
		                &copy; <span id="year"></span> made with <i class="fa fa-heart heart"></i> by <a href="#" target="_blank">rapsealk</a>
		            </div>
		        </div>
		    </footer>
		</div>
    </div>
</body>
    <!-- Kakao Map -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_app_key }}"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_app_key }}&libraries=drawing"></script>
    <script type="text/javascript">
        const container = document.getElementById("map");
        const options = {
            center: new kakao.maps.LatLng(37.5667791508359, 126.97864095263),
            level: 3
        };
        const map = new kakao.maps.Map(container, options);
        const markers = [];
        let polyline = null;

        function drawPolyline() {
            polyline?.setMap(null);
            const linepath = markers.map(marker => marker.getPosition());
            polyline = new kakao.maps.Polyline({
                path: markers.map(marker => marker.getPosition()),
                strokeWeight: 5,
                strokeColor: "#FFAE00",
                strokeOpacity: 0.7,
                strokeStyle: "solid"
            });
            polyline.setMap(map);
        };

        kakao.maps.event.addListener(map, "click", (e) => {
            const marker = new kakao.maps.Marker({
                position: e.latLng,
                draggable: true,
                clickable: true,
                map
            });
            markers.push(marker);
            drawPolyline();

            kakao.maps.event.addListener(marker, "dragend", drawPolyline);
            kakao.maps.event.addListener(marker, "click", (e) => {
                const infoWindowContent = `
					<form style="padding: 10px;">
						<div class="form-group">
							<label for="time-expected">이동 시간</label>
							<input type="number" class="form-control" id="time-expected" aria-describedby="timeHelp" placeholder="5">
							<small id="timeHelp" class="form-text text-muted">희망 시간을 입력하세요.(s)</small>
						</div>
						<button type="button" class="btn btn-sm btn-primary">업데이트</button>
					</form>
				`;
                const infoWindow = new kakao.maps.InfoWindow({
                    content: infoWindowContent,
                    removable: true
                });
                infoWindow.open(map, marker);
            });
        });
    </script>

    <!--   Core JS Files   -->
	<script src="{{ url_for('static', path='/js/jquery.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', path='/js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', path='/js/material.min.js') }}" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="{{ url_for('static', path='/js/material-kit.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        document.getElementById("year").innerText = new Date().getFullYear().toString();
    </script>
</html>