<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{{ url_for('static', path='/css/bootstrap/sidebars.css') }}" rel="stylesheet">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

        <title>Fleet Beacon | FMS</title>
    </head>
    <body>
        <main>
            {% with path="/mission" %}
                {% include "sidebar.html" %}
            {% endwith %}

            <!-- Map -->
            <div class="col-7" style="padding: 8pt;">
                <div id="map" style="width: 100%; height: 100%;"></div>
            </div>

            <!-- Table -->
            <div class="col-3" style="padding: 8pt; overflow-y: scroll;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Warehouse</th>
                            <th scope="col">Size</th>
                            <th scope="col">Selection</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="col-12">
                    <button id="btn-submit" type="button" class="btn btn-primary" style="float: right;">등록</button>
                </div>
            </div>
        </main>

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <!-- Kakao Map -->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_app_key }}"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_app_key }}&libraries=drawing"></script>
        <script type="text/javascript">
            Array.prototype.clear = function() { this.splice(0); }
    
            let [lat, lng] = [0, 0];
            {% for waypoint in waypoints %}
                lat += {{ waypoint.latitude }};
                lng += {{ waypoint.longitude }};
            {% endfor %}
    
            const container = document.getElementById("map");
            const options = {
                center: new kakao.maps.LatLng(lat / {{ len(waypoints) }}, lng / {{ len(waypoints) }}),
                level: 6,
                draggable: false
            };
            const map = new kakao.maps.Map(container, options);
    
            // Draw waypoints polyline.
            (function() {
                const markers = [];
                {% for i, waypoint in enumerate(waypoints) %}
                    markers.push(new kakao.maps.Marker({
                        position: new kakao.maps.LatLng({{ waypoint.latitude }}, {{ waypoint.longitude }}),
                        draggable: false,
                        clickable: false,
                        image: new kakao.maps.MarkerImage(
                            `${window.location.origin}/static/img/numbers/0{{ i+1 }}.png`,
                            new kakao.maps.Size(32, 32),
                            {
                                offset: new kakao.maps.Point(16, 16)
                            }
                        ),
                        map
                    }));
                {% endfor %}
                const polyline = new kakao.maps.Polyline({
                    path: markers.map((marker) => marker.getPosition()),
                    strokeWidth: 5,
                    strokeColor: "#444444",
                    strokeOpacity: 0.7,
                    strokeStyle: "solid"
                });
                polyline.setMap(map);
            })();
    
            function clearTable() {
                const tbody = document.querySelector("table.table > tbody");
                tbody.innerHTML = "";
            }
    
            function addTableItem(item) {
                const tr = document.createElement("tr");

                const th = document.createElement("th");
                th.innerText = `${item.id}`;
                tr.appendChild(th);

                let td = document.createElement("td");
                td.innerText = item.warehouse;
                tr.appendChild(td);

                td = document.createElement("td");
                td.innerText = item.units.length;
                tr.appendChild(td);

                td = document.createElement("td");
                td.className = "text-center";
                td.innerHTML = `
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span>
                        </label>
                    </div>
                `;
                tr.appendChild(td);

                tr.addEventListener("click", (e) => {
                    //
                });
    
                const tbody = document.querySelector("table.table > tbody");
                tbody.appendChild(tr);
            }
    
            // Fetch nearby warehouses.
            (async function() {
                const fleets = await (function fetchNearbyFleets() {
                    return new Promise((resolve, reject) => {
                        const missionId = window.location.pathname.split("/").pop();
                        fetch(`${window.location.origin}/api/mission/${missionId}/nearby/warehouse`)
                            .then((response) => response.json())
                            .then((response) => {
                                response.items.forEach((item) => {
                                    const _ = new kakao.maps.Marker({
                                        position: new kakao.maps.LatLng(item.latitude, item.longitude),
                                        draggable: false,
                                        clickable: false,
                                        map
                                    });
                                });
                                return response.items;
                            })
                            .then((warehouses) => {
                                warehouses.forEach((warehouse) => {
                                    fetch(`${window.location.origin}/api/warehouse/${warehouse.id}/fleets`)
                                        .then((response) => response.json())
                                        .then((response) => {
                                            response.items.forEach((fleet) => {
                                                fleet.warehouse = warehouse.name;
                                                addTableItem(fleet);
                                            });
                                            resolve(response.items);
                                        })
                                        .catch((error) => {
                                            throw error;
                                        })
                                })
                            })
                            .catch((error) => {
                                console.error(error);
                                reject(error);
                            });
                    });
                })();
    
                document.getElementById("btn-submit").addEventListener("click", (e) => {
                    const radioButtons = Array.from(document.querySelectorAll(".radio > label > input")).map((checkbox) => checkbox.checked);
                    const selectedFleetIndex = radioButtons.indexOf(true);
                    if (selectedFleetIndex === -1) {
                        return alert("임무를 할당할 Fleet을 선택하세요.");
                    }
    
                    const selectedFleet = fleets[selectedFleetIndex];
                    fetch(`${window.location.origin}/api/fleet/${selectedFleet.id}/mission/{{ mission_id }}`, {
                        method: "PUT"
                    })
                        .then((response) => response.json())
                        .then((response) => {
                            window.location.href = `${window.location.origin}/fleet`;
                        })
                        .catch(console.error);
                });
            })();
    
        </script>
    </body>
</html>