<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{{ url_for('static', path='/css/bootstrap/sidebars.css') }}" rel="stylesheet">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

        <title>Fleet Beacon | FMS</title>
    </head>
    <body>
        <main>
            {% with path="/warehouse" %}
                {% include "sidebar.html" %}
            {% endwith %}

            <!-- Map -->
            <div class="col-7" style="padding: 8pt;">
                <div id="map" style="width: 100%; height: 100%;"></div>
            </div>

            <!-- Table -->
            <div class="col-3" style="padding: 8pt; overflow-y: scroll;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">
                                <div class="row">
                                    <div class="col-10" style="align-self: center;">
                                        Name
                                    </div>
                                    <div class="col-2">
                                        <button type="button" id="btn-refresh" class="btn btn-xs">
                                            <i class="fa fa-refresh"></i>
                                        </button>        
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <!-- Kakao Map -->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_app_key }}"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_app_key }}&libraries=drawing"></script>
        <script type="text/javascript">
            const container = document.getElementById("map");
            const options = {
                center: new kakao.maps.LatLng(37.5667791508359, 126.97864095263),
                level: 3
            };
            const map = new kakao.maps.Map(container, options);
            const markers = [];
            let polyline = null;

            function drawPolyline() {
                polyline?.setMap(null);
                const linepath = markers.map(marker => marker.getPosition());
                polyline = new kakao.maps.Polyline({
                    path: markers.map(marker => marker.getPosition()),
                    strokeWeight: 5,
                    strokeColor: "#FFAE00",
                    strokeOpacity: 0.7,
                    strokeStyle: "solid"
                });
                polyline.setMap(map);
            };

            kakao.maps.event.addListener(map, "click", (e) => {
                const marker = new kakao.maps.Marker({
                    position: e.latLng,
                    draggable: true,
                    clickable: true,
                    map
                });
                markers.push(marker);
                drawPolyline();

                kakao.maps.event.addListener(marker, "dragend", drawPolyline);
                kakao.maps.event.addListener(marker, "click", (e) => {
                    const infoWindowContent = `
                        <form style="padding: 10px;">
                            <div class="form-group">
                                <label for="time-expected">이동 시간</label>
                                <input type="number" class="form-control" id="time-expected" aria-describedby="timeHelp" placeholder="5">
                                <small id="timeHelp" class="form-text text-muted">희망 시간을 입력하세요.(s)</small>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary">업데이트</button>
                        </form>
                    `;
                    const infoWindow = new kakao.maps.InfoWindow({
                        content: infoWindowContent,
                        removable: true
                    });
                    infoWindow.open(map, marker);
                });
            });

            let warehouseMarker = null;

            function clearTableItems() {
                const tbody = document.querySelector("table.table > tbody");
                tbody.innerHTML = "";
            }

            function addTableItem(item) {
                const tbody = document.querySelector("table.table > tbody");
                const tr = document.createElement("tr");

                const th = document.createElement("th");
                th.setAttribute("scope", "row");
                th.innerText = `${item.id}`;
                tr.appendChild(th);

                const td = document.createElement("td");
                td.innerText = item.name;
                tr.appendChild(td);

                tr.addEventListener("click", (e) => {
                    warehouseMarker?.setMap(null);
                    const warehousePosition = new kakao.maps.LatLng(item.latitude, item.longitude);
                    map.setLevel(4);
                    map.panTo(warehousePosition);
                    warehouseMarker = new kakao.maps.Marker({
                        position: warehousePosition,
                        clickable: true,
                        map
                    });
                    kakao.maps.event.addListener(warehouseMarker, "click", (e) => {
                        window.location.href = `${window.location.origin}/warehouse/${item.id}`;
                    });
                });

                tbody.appendChild(tr);
            }

            // Fetch warehouses
            function fetchWarehouses() {
                clearTableItems();
                fetch(`${window.location.origin}/api/warehouse`)
                    .then((response) => response.json())
                    .then((response) => {
                        response.items.forEach(addTableItem);
                    })
                    .catch(console.error);
            }
            fetchWarehouses();

            document.getElementById("btn-refresh").addEventListener("click", fetchWarehouses);
        </script>
    </body>
</html>