<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{{ url_for('static', path='/css/bootstrap/sidebars.css') }}" rel="stylesheet">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

        <link href="{{ url_for('static', path='/css/status-indicator.css') }}" rel="stylesheet">

        <title>Fleet Beacon | FMS</title>
    </head>
    <body>
        <main>
            {% with path="/warehouse" %}
                {% include "sidebar.html" %}
            {% endwith %}

            <div class="col-10" style="padding-left: 8pt; overflow-y: scroll;">
                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="col-5">Name</th>
                            <th scope="col" class="col-3 text-center">Fleet</th>
                            <th scope="col" class="col-2 text-center">Status</th>
                            <th scope="col" class="col-1">
                                <div class="row">
                                    <div class="col-4">
                                        <button type="button" id="btn-refresh" class="btn btn-xs">
                                            <i class="fa fa-refresh"></i>
                                        </button>        
                                    </div>
                                    <div class="col-4">
                                        <a href="/warehouse/{{ warehouse_id }}/fleet/new" type="button" class="btn btn-xs">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td scope="row">Mark</td>
                            <td scope="row" class="text-center">-</td>
                            <td scope="row" style="margin: auto; text-align: center;">
                                <status-indicator positive></status-indicator>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script type="text/javascript">
            Array.prototype.choice = function() {
                return this[parseInt(Math.random() * 1000) % this.length];
            };

            // Pagination
            const searchParams = new URLSearchParams(window.location.href.split("?")[1]);
            const currentPage = parseInt(searchParams.get("page") || 1);
            const paginationStep = 5;
            const currentPageGroup = Math.floor((currentPage - 1) / paginationStep);

            function setPageNavigationBar(page) {
                const pagination = document.querySelector(".pagination");
                pagination.innerHTML = "";

                const previousButton = document.createElement("li");
                previousButton.className = "page-item";
                let anchor = document.createElement("a");
                anchor.className = "page-link";
                anchor.href = `/warehouse/{{ warehouse_id }}?page=${currentPageGroup - 1}`;
                anchor.setAttribute("tabindex", "-1");
                anchor.setAttribute("aria-disabled", "false");
                anchor.text = "Previous";
                if (currentPage === 1) {
                    previousButton.className = "page-item disabled";
                    anchor.href = "/warehouse/{{ warehouse_id }}";
                    anchor.setAttribute("aria-disabled", "true");
                }
                previousButton.appendChild(anchor);
                pagination.appendChild(previousButton);

                for (let i = 1; i <= paginationStep; i++) {
                    const li = document.createElement("li");
                    li.className = "page-item";
                    if (((currentPage - 1) % paginationStep + 1) === i) {
                        li.className = "page-item active";
                    }
                    const a = document.createElement("a");
                    a.className = "page-link";
                    a.href = `/warehouse/{{ warehouse_id }}?page=${currentPageGroup * paginationStep + i}`;
                    a.text = `${currentPageGroup * paginationStep + i}`;
                    li.appendChild(a);
                    pagination.appendChild(li);
                }

                const nextButton = document.createElement("li");
                nextButton.className = "page-item";
                anchor = document.createElement("a");
                anchor.className = "page-link";
                anchor.href = `/warehouse/{{ warehouse_id }}?page=${(currentPageGroup + 1) * paginationStep + 1}`;
                anchor.text = "Next";
                nextButton.appendChild(anchor);
                pagination.appendChild(nextButton);
            }

            // Table
            function clearTable() {
                const tbody = document.querySelector("table.table > tbody");
                tbody.innerHTML = "";
            }

            function addTableItem(item) {
                const tbody = document.querySelector("table.table > tbody");
                const tr = document.createElement("tr");

                // ID
                const th = document.createElement("th");
                th.setAttribute("scope", "row");
                th.innerText = `${item.id}`;
                tr.appendChild(th);

                // Name
                let td = document.createElement("td");
                td.innerText = item.uuid;
                tr.appendChild(td);

                // Fleet
                td = document.createElement("td");
                td.innerText = `${item.fleet_id || "-"}`;
                td.className = "text-center";
                tr.appendChild(td);

                // Status
                const indicatorTypes = ["positive", "intermediary", "negative"];
                const indicatorType = item.connected ? indicatorTypes[0] : indicatorTypes[2];
                const pulseTypes = [""/*, "pulse"*/];
                td = document.createElement("td");
                td.setAttribute("scope", "row");
                td.style.margin = "auto";
                td.style.textAlign = "center";
                td.innerHTML = `<status-indicator ${indicatorType} ${pulseTypes.choice()}></status-indicator>`;
                tr.appendChild(td);

                // Buttons
                tr.appendChild(document.createElement("td"));

                tbody.appendChild(tr);
            }

            function fetchUnitsInWarehouse(page) {
                clearTable();
                fetch(`${window.location.origin}/api/warehouse/{{ warehouse_id }}/detail?page=${page}`)
                    .then((response) => response.json())
                    .then((response) => {
                        response.units.items.forEach(addTableItem);
                        setPageNavigationBar(currentPage);
                    })
                    .catch(console.error);
            }

            fetchUnitsInWarehouse(currentPage);

            document.getElementById("btn-refresh").addEventListener("click", fetchUnitsInWarehouse);
        </script>
    </body>
</html>